<a href="https://colab.research.google.com/github/kamuma03/Fraud-Detection-Project/blob/main/Fraud_Detection_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install -U imbalanced-learn

Collecting imbalanced-learn
  Downloading https://files.pythonhosted.org/packages/c8/81/8db4d87b03b998fda7c6f835d807c9ae4e3b141f978597b8d7f31600be15/imbalanced_learn-0.7.0-py3-none-any.whl (167kB)
     |████████████████████████████████| 174kB 4.6MB/s
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn) (1.4.1)
Collecting scikit-learn>=0.23
  Downloading https://files.pythonhosted.org/packages/5c/a1/273def87037a7fb010512bbc5901c31cfddfca8080bc63b42b26e3cc55b3/scikit_learn-0.23.2-cp36-cp36m-manylinux1_x86_64.whl (6.8MB)
     |████████████████████████████████| 6.8MB 13.9MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn) (1.18.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn) (0.16.0)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Installing collected packages: threadpoolctl, scikit-learn, imbalanced-learn
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
  Found existing installation: imbalanced-learn 0.4.3
    Uninstalling imbalanced-learn-0.4.3:
      Successfully uninstalled imbalanced-learn-0.4.3
Successfully installed imbalanced-learn-0.7.0 scikit-learn-0.23.2 threadpoolctl-2.1.0

## Import of the libraries

In [1]:
# Import of all the required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.express as px
from scipy import stats
import seaborn as sns
import pickle
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import mean_squared_error, f1_score
from sklearn.model_selection import train_test_split
import imblearn

## Import of the Dataset

The data will be imported from a pickle file saved after the data analysis notebook

In [2]:
# Connecting the Google drive with Colab

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# Import of the train and test datasets into the Panda dataframe from Google drive 
# To load data from the local drive the location below can be changed accordingly


train_df = pickle.load(open("/content/drive/My Drive/Colab Notebooks/train_df_final.pkl", "rb"))
test_df = pickle.load(open("/content/drive/My Drive/Colab Notebooks/test_df_final.pkl", "rb"))

train_df
test_df

             V1        V4        V5  ...       V28  Amount  Class
Id                                   ...
1     -0.584007  0.001509  0.292260  ...  0.144502   42.81      0
2      1.326714 -0.979830 -0.625116  ...  0.003230   75.00      0
3      2.097691 -0.011746  0.597501  ... -0.079921    2.29      0
4     -1.593912 -0.236255 -0.002224  ...  0.104860    8.99      0
5      1.863194  3.853830  0.220877  ... -0.061238    0.00      0
...         ...       ...       ...  ...       ...     ...    ...
85439 -0.753070 -1.448546  1.130943  ...  0.304103    0.75      0
85440 -0.539994  0.514863 -0.043655  ... -0.067811   40.00      0
85441 -1.833594 -1.464593 -0.448623  ... -0.049870  140.00      0
85442  1.373911  1.057884 -0.413288  ...  0.025684  343.39      0
85443 -1.683357 -0.827478 -0.431862  ...  0.213428    5.00      0

[85443 rows x 18 columns]

## Unbalance Dataset Approaches

Reference:
1. https://machinelearningmastery.com/tactics-to-combat-imbalanced-classes-in-your-machine-learning-dataset/#:~:text=Imbalanced%20data%20typically%20refers%20to,with%20100%20instances%20(rows).

2. https://www.kaggle.com/janiobachmann/credit-fraud-dealing-with-imbalanced-datasets/notebook


Below there are the approaches

### 1. Model with Different Algorithms
Create the model with two different algorithms to see the performance with the data as it is

  Will evaluate the models with MSE and F1 score

  The model tested will be random forrest and SVC

In [4]:
# Dividing the training set in training and validation

train_set, validation_set = train_test_split(train_df, test_size=0.2)

validation_set

              V1        V4        V5  ...       V28  Amount  Class
Id                                    ...
133885  1.940198 -0.101637  0.069030  ... -0.047633   63.94      0
154103  1.943954 -0.650764 -1.272188  ... -0.017094  116.43      0
167775  1.904386 -1.078358 -0.180539  ... -0.056774   76.05      0
173612  2.094920  0.325489  0.323692  ... -0.059727    1.00      0
178897 -1.099180  0.905753  0.410698  ...  0.051719   91.69      0
...          ...       ...       ...  ...       ...     ...    ...
50508   1.733548  0.000954  1.181809  ... -0.025503  100.94      0
20727  -1.101104 -1.579081 -0.568099  ...  0.125097   24.99      0
128437 -2.980376 -0.576047  1.451763  ...  0.197942   93.96      0
166738 -0.504682  0.286529  0.647267  ... -0.048067  119.99      0
53742   2.274293 -1.351831  0.747265  ... -0.091976   29.50      0

[39748 rows x 18 columns]

In [5]:
# definition of the function to model and score the classification with the random forest
def random_forest_classifier(test, validation):
  x_test = test.loc[:, test.columns != 'Class']
  y_test = test["Class"]
  x_val = validation.loc[:, validation.columns != 'Class']
  y_val = validation["Class"]
  model= RandomForestClassifier(n_estimators=500, max_depth=400, max_samples=80000)
  model.fit(x_test, y_test)

  test_prediction = model.predict(x_test)
  print("training set score ", model.score(x_test, y_test))
  f1_score_test = f1_score(y_test, test_prediction)
  print("F1 training set score ", f1_score_test)
  mse_test = mean_squared_error(y_test, test_prediction)
  print("MSE training set score ", mse_test)


  validation_prediction = model.predict(x_val)
  print("validation set score ", model.score(x_val, y_val))
  f1_score_validation = f1_score(y_val, validation_prediction)
  print("F1 training set score ", f1_score_validation)
  mse_validation = mean_squared_error(y_val, validation_prediction)
  print("MSE training set score ", mse_validation)
  return model

In [6]:
model_1 = random_forest_classifier(train_set, validation_set)

training set score  0.9996980904219186
F1 training set score  0.9058823529411766
MSE training set score  0.0003019095780813646
validation set score  0.9994465130321022
F1 training set score  0.835820895522388
MSE training set score  0.0005534869678977558

In [7]:
# definition of the function to model and score the classification with the support vector machine
def svm(test, validation):
  x_test = test.loc[:, test.columns != 'Class']
  y_test = test["Class"]
  x_val = validation.loc[:, validation.columns != 'Class']
  y_val = validation["Class"]
  model= SVC(C=100000, kernel='rbf')
  model.fit(x_test, y_test)
  test_prediction = model.predict(x_test)
  print("training set score ", model.score(x_test, y_test))
  f1_score_test = f1_score(y_test, test_prediction)
  print("F1 training set score ", f1_score_test)
  mse_test = mean_squared_error(y_test, test_prediction)
  print("MSE training set score ", mse_test)


  validation_prediction = model.predict(x_val)
  print("validation set score ", model.score(x_val, y_val))
  f1_score_validation = f1_score(y_val, validation_prediction)
  print("F1 training set score ", f1_score_validation)
  mse_validation = mean_squared_error(y_val, validation_prediction)
  print("MSE training set score ", mse_validation)
  return model

In [8]:
model_2 = svm(train_set, validation_set)

training set score  0.9995597151986313
F1 training set score  0.8638132295719845
MSE training set score  0.00044028480136865675
validation set score  0.9992704035423166
F1 training set score  0.7786259541984732
MSE training set score  0.0007295964576834055

The above models have got F1 validation score of about 83% with random forest

The hyper parameters for both models have been manually tweaked to have best result as shown above

###2. Oversampling of the Dataset 

Using the Imbalance learn library to use various method to oversample

Reference:

https://github.com/scikit-learn-contrib/imbalanced-learn

https://imbalanced-learn.org/stable/index.html

In [9]:
# Oversampling of the dataset randomly 

def oversample_random(test):
  x_test = test.loc[:, test.columns != 'Class']
  y_test = test["Class"]
  oversampler = imblearn.over_sampling.RandomOverSampler(random_state=0)
  new_x_test, new_y_test = oversampler.fit_resample(x_test, y_test)
  df = new_x_test
  df["Class"] = new_y_test
  return df

oversample_train_set = oversample_random(train_set)

In [10]:
model_3 = random_forest_classifier(oversample_train_set, validation_set)

training set score  0.999949593598387
F1 training set score  0.9999495961390643
MSE training set score  5.0406401613004854e-05
validation set score  0.999345879037939
F1 training set score  0.8169014084507041
MSE training set score  0.0006541209620609842

In [ ]:
model_4 = svm(oversample_train_set, validation_set)

In [16]:
# Oversampling of the dataset with smote algorithms and svm   

def oversample_smote_svm(test):
  x_test = test.loc[:, test.columns != 'Class']
  y_test = test["Class"]
  oversampler = imblearn.over_sampling.SVMSMOTE(random_state=42)
  new_x_test, new_y_test = oversampler.fit_resample(x_test, y_test)
  df = new_x_test
  df["Class"] = new_y_test
  return df

oversample_svm_train_set = oversample_smote_svm(train_set)

In [17]:
model_5 = random_forest_classifier(oversample_svm_train_set, validation_set)

training set score  0.9998204271942537
F1 training set score  0.9998204277599781
MSE training set score  0.00017957280574632979
validation set score  0.9992955620408575
F1 training set score  0.8133333333333335
MSE training set score  0.0007044379591425984

In [ ]:
model_6 = svm(oversample_svm_train_set, validation_set)

The result shows that the random sampling improves the F1 test set score to about 100% but the validation set F1 score is lower 81% than the base model 83%

### 3. Undersampling of the Dataset

In [19]:
# undersampling of the dataset with Cluster Centroids 

def undersample_random(test):
  x_test = test.loc[:, test.columns != 'Class']
  y_test = test["Class"]
  undersampler = imblearn.under_sampling.ClusterCentroids(random_state=0)
  new_x_test, new_y_test = undersampler.fit_resample(x_test, y_test)
  df = new_x_test
  df["Class"] = new_y_test
  return df

undersample_random_train_set = undersample_random(train_set)

In [21]:
undersample_random_train_set

           V1        V4        V5  ...       V28       Amount  Class
0    1.529512  0.459757 -0.104006  ... -0.015416    28.912886      0
1   -1.811613  0.523180 -2.822458  ... -0.016139  1267.679388      0
2   -0.619164 -0.031784 -0.726452  ...  0.036311   448.502095      0
3   -5.675999  2.638208 -6.613113  ...  0.354152  3827.405714      0
4    0.202329 -0.353193 -0.393739  ... -0.007867   154.320212      0
..        ...       ...       ...  ...       ...          ...    ...
551  1.917827  3.833998  1.668192  ... -0.012105     9.210000      1
552 -0.769172 -0.151513 -0.648374  ...  0.250987    40.000000      1
553 -1.585505  2.357096 -1.405043  ...  0.132817     1.000000      1
554 -6.003422  1.714669  3.414667  ... -0.104285   311.910000      1
555 -3.843009  6.136378  2.797195  ... -0.203050     1.000000      1

[556 rows x 18 columns]

In [22]:
def random_forest_classifier_undersample(test, validation):
  x_test = test.loc[:, test.columns != 'Class']
  y_test = test["Class"]
  x_val = validation.loc[:, validation.columns != 'Class']
  y_val = validation["Class"]
  model= RandomForestClassifier(n_estimators=500, max_depth=400, max_samples=300)
  model.fit(x_test, y_test)

  test_prediction = model.predict(x_test)
  print("training set score ", model.score(x_test, y_test))
  f1_score_test = f1_score(y_test, test_prediction)
  print("F1 training set score ", f1_score_test)
  mse_test = mean_squared_error(y_test, test_prediction)
  print("MSE training set score ", mse_test)


  validation_prediction = model.predict(x_val)
  print("validation set score ", model.score(x_val, y_val))
  f1_score_validation = f1_score(y_val, validation_prediction)
  print("F1 training set score ", f1_score_validation)
  mse_validation = mean_squared_error(y_val, validation_prediction)
  print("MSE training set score ", mse_validation)
  return model

model_7 = random_forest_classifier_undersample(undersample_random_train_set, validation_set)

training set score  0.9964028776978417
F1 training set score  0.9964028776978417
MSE training set score  0.0035971223021582736
validation set score  0.6479571299184864
F1 training set score  0.009485382600693707
MSE training set score  0.3520428700815135

In [23]:
model_8 = svm(undersample_random_train_set, validation_set)

training set score  0.9622302158273381
F1 training set score  0.9610389610389611
MSE training set score  0.03776978417266187
validation set score  0.9320972124383616
F1 training set score  0.04595263343937788
MSE training set score  0.06790278756163833

Undersampling has much worst validation F1 score than the oversampling and the normal dataset result, that is most probabaly because the data sample is much lower which is not helping the model to fit

## Testing the Best Model

The best model is the random forest with the normal dataset without oversampling and undersampling

In [24]:
model_1 = random_forest_classifier(train_set, validation_set)

training set score  0.9996980904219186
F1 training set score  0.90625
MSE training set score  0.0003019095780813646
validation set score  0.9994465130321022
F1 training set score  0.835820895522388
MSE training set score  0.0005534869678977558

In [27]:
# calculation of the test datset score for the model_1 

x_test = test_df.loc[:, test_df.columns != 'Class']
y_test = test_df["Class"]

test_prediction = model_1.predict(x_test)
print("Test set score ", model_1.score(x_test, y_test))
f1_score_test = f1_score(y_test, test_prediction)
print("F1 Test set score ", f1_score_test)
mse_test = mean_squared_error(y_test, test_prediction)
print("MSE Test set score ", mse_test)

Test set score  0.9995201479348805
F1 Test set score  0.8240343347639486
MSE Test set score  0.00047985206511943633

The test score for the model is 82%

In [28]:
# calculation of the test dataset score for the model_5 random forrest with oversampling of the training set

x_test = test_df.loc[:, test_df.columns != 'Class']
y_test = test_df["Class"]

test_prediction = model_5.predict(x_test)
print("Test set score ", model_5.score(x_test, y_test))
f1_score_test = f1_score(y_test, test_prediction)
print("F1 Test set score ", f1_score_test)
mse_test = mean_squared_error(y_test, test_prediction)
print("MSE Test set score ", mse_test)

Test set score  0.999403110845827
F1 Test set score  0.8030888030888031
MSE Test set score  0.0005968891541729574

In this case the test set accuracy is 80% so model_1 with standard dataset is able to generalize better