In [1]:
pip install -U imbalanced-learn

Collecting imbalanced-learn
  Downloading https://files.pythonhosted.org/packages/c8/81/8db4d87b03b998fda7c6f835d807c9ae4e3b141f978597b8d7f31600be15/imbalanced_learn-0.7.0-py3-none-any.whl (167kB)
     |████████████████████████████████| 174kB 2.7MB/s
Collecting scikit-learn>=0.23
  Downloading https://files.pythonhosted.org/packages/5c/a1/273def87037a7fb010512bbc5901c31cfddfca8080bc63b42b26e3cc55b3/scikit_learn-0.23.2-cp36-cp36m-manylinux1_x86_64.whl (6.8MB)
     |████████████████████████████████| 6.8MB 9.0MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn) (1.18.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn) (0.16.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn) (1.4.1)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Installing collected packages: threadpoolctl, scikit-learn, imbalanced-learn
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
  Found existing installation: imbalanced-learn 0.4.3
    Uninstalling imbalanced-learn-0.4.3:
      Successfully uninstalled imbalanced-learn-0.4.3
Successfully installed imbalanced-learn-0.7.0 scikit-learn-0.23.2 threadpoolctl-2.1.0

## Import of the libraries

In [6]:
# Import of all the required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.express as px
from scipy import stats
import seaborn as sns
import pickle
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import mean_squared_error, f1_score
from sklearn.model_selection import train_test_split
import imblearn

## Import of the Dataset

The data will be imported from a pickle file saved after the data analysis notebook

In [4]:
# Connecting the Google drive with Colab

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Import of the train and test datasets into the Panda dataframe from Google drive 
# To load data from the local drive the location below can be changed accordingly


train_df = pickle.load(open("/content/drive/My Drive/Colab Notebooks/train_df_final.pkl", "rb"))
test_df = pickle.load(open("/content/drive/My Drive/Colab Notebooks/test_df_final.pkl", "rb"))

train_df
test_df

             V1        V4        V5  ...       V28  Amount  Class
Id                                   ...
1     -0.584007  0.001509  0.292260  ...  0.144502   42.81      0
2      1.326714 -0.979830 -0.625116  ...  0.003230   75.00      0
3      2.097691 -0.011746  0.597501  ... -0.079921    2.29      0
4     -1.593912 -0.236255 -0.002224  ...  0.104860    8.99      0
5      1.863194  3.853830  0.220877  ... -0.061238    0.00      0
...         ...       ...       ...  ...       ...     ...    ...
85439 -0.753070 -1.448546  1.130943  ...  0.304103    0.75      0
85440 -0.539994  0.514863 -0.043655  ... -0.067811   40.00      0
85441 -1.833594 -1.464593 -0.448623  ... -0.049870  140.00      0
85442  1.373911  1.057884 -0.413288  ...  0.025684  343.39      0
85443 -1.683357 -0.827478 -0.431862  ...  0.213428    5.00      0

[85443 rows x 18 columns]

## Unbalance Dataset Approaches

Reference:
1. https://machinelearningmastery.com/tactics-to-combat-imbalanced-classes-in-your-machine-learning-dataset/#:~:text=Imbalanced%20data%20typically%20refers%20to,with%20100%20instances%20(rows).

2. https://www.kaggle.com/janiobachmann/credit-fraud-dealing-with-imbalanced-datasets/notebook


Below there are the approaches

### 1. Model with Different Algorithms
Create the model with two different algorithms to see the performance with the data as it is

  Will evaluate the models with MSE and F1 score

  The model tested will be random forrest and SVC

In [8]:
# Dividing the training set in training and validation

train_set, validation_set = train_test_split(train_df, test_size=0.2)

validation_set

              V1        V4        V5  ...       V28  Amount  Class
Id                                    ...
23026  -0.497896 -1.468950 -1.430410  ...  0.157483   44.90      0
188987  2.045788 -1.174332 -0.148105  ... -0.063225  114.20      0
38906   0.080669  0.758409  0.705058  ...  0.064717    0.74      0
81930   2.052427  0.277935  0.337999  ... -0.091958    8.73      0
164212  0.093641 -0.526791  1.131571  ...  0.017366   90.00      0
...          ...       ...       ...  ...       ...     ...    ...
79352   1.946018 -0.173366 -1.786292  ... -0.018940   68.00      0
117708 -0.299345 -1.719362  0.370424  ...  0.122865   33.00      0
110765  1.725363  0.475997  0.123668  ... -0.020992  159.90      0
41280  -1.118673 -1.649035  0.065648  ...  0.109293  110.69      0
178152 -0.080592  1.124077  0.438533  ...  0.202843    4.95      0

[39748 rows x 18 columns]

In [71]:
# definition of the function to model and score the classification with the random forest
def random_forest_classifier(test, validation):
  x_test = test.loc[:, test.columns != 'Class']
  y_test = test["Class"]
  x_val = validation.loc[:, validation.columns != 'Class']
  y_val = validation["Class"]
  model= RandomForestClassifier(n_estimators=500, max_depth=400, max_samples=80000)
  model.fit(x_test, y_test)

  test_prediction = model.predict(x_test)
  print("training set score ", model.score(x_test, y_test))
  f1_score_test = f1_score(y_test, test_prediction)
  print("F1 training set score ", f1_score_test)
  mse_test = mean_squared_error(y_test, test_prediction)
  print("MSE training set score ", mse_test)


  validation_prediction = model.predict(x_val)
  print("validation set score ", model.score(x_val, y_val))
  f1_score_validation = f1_score(y_val, validation_prediction)
  print("F1 training set score ", f1_score_validation)
  mse_validation = mean_squared_error(y_val, validation_prediction)
  print("MSE training set score ", mse_validation)
  return model

In [72]:
model_1 = random_forest_classifier(train_set, validation_set)

training set score  0.999691800639042
F1 training set score  0.9073724007561436
MSE training set score  0.0003081993609580597
validation set score  0.9994213545335614
F1 training set score  0.8067226890756303
MSE training set score  0.0005786454664385629

In [75]:
# definition of the function to model and score the classification with the support vector machine
def svm(test, validation):
  x_test = test.loc[:, test.columns != 'Class']
  y_test = test["Class"]
  x_val = validation.loc[:, validation.columns != 'Class']
  y_val = validation["Class"]
  model= SVC(C=100000, kernel='rbf')
  model.fit(x_test, y_test)
  test_prediction = model.predict(x_test)
  print("training set score ", model.score(x_test, y_test))
  f1_score_test = f1_score(y_test, test_prediction)
  print("F1 training set score ", f1_score_test)
  mse_test = mean_squared_error(y_test, test_prediction)
  print("MSE training set score ", mse_test)


  validation_prediction = model.predict(x_val)
  print("validation set score ", model.score(x_val, y_val))
  f1_score_validation = f1_score(y_val, validation_prediction)
  print("F1 training set score ", f1_score_validation)
  mse_validation = mean_squared_error(y_val, validation_prediction)
  print("MSE training set score ", mse_validation)
  return model

In [76]:
model_2 = svm(train_set, validation_set)

training set score  0.9995974538958915
F1 training set score  0.8801498127340824
MSE training set score  0.0004025461041084862
validation set score  0.9993961960350206
F1 training set score  0.793103448275862
MSE training set score  0.00060380396497937

The above models have got F1 validation score of about 80% with validation set

The hyper parameters for both models have been manually tweaked to have best result as shown above

###2. Oversampling of the Dataset 

Using the Imbalance learn library to use various method to oversample

Reference:

https://github.com/scikit-learn-contrib/imbalanced-learn

https://imbalanced-learn.org/stable/index.html

In [83]:
# Oversampling of the dataset randomly 

def oversample(test):
  x_test = test.loc[:, test.columns != 'Class']
  y_test = test["Class"]
  oversampler = imblearn.over_sampling.RandomOverSampler(random_state=0)
  new_x_test, new_y_test = oversampler.fit_resample(x_test, y_test)
  df = new_x_test
  df["Class"] = new_y_test
  return df

oversample_train_set = oversample(train_set)

In [85]:
model_3 = random_forest_classifier(oversample_train_set, validation_set)

training set score  0.9999495910574536
F1 training set score  0.999949593598387
MSE training set score  5.040894254640773e-05
validation set score  0.9995219885277247
F1 training set score  0.8455284552845528
MSE training set score  0.0004780114722753346

In [ ]:
model_4 = svm(oversample_train_set, validation_set)